@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
}

.bg-glassomorphism {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.blur-borders {
    
}

.linkicon,
.whiteicon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7492%) hue-rotate(267deg) brightness(99%) contrast(102%);
}

.linkicon:hover,
.whiteicon:hover {
    opacity: 0.8;
}

.tooltip {
    position:relative;
    text-align: center;
    align-items: center;
    align-self: center;
}

.tooltip:before {
    content: attr(data-text);
    position: absolute;

    top: -125%;
    transform: translateX(-25%);

    padding: 5px;
    border-radius: 5px;
    background:#09000d;
    color: #fff;

    text-align: center;
    align-items: center;
    align-self: center;
    white-space: nowrap;
    display:none;
}

.tooltip:hover:before {
    display:block;
}


@font-face {
    font-family:'AffiliateMastery';
    src: url(./font/AffiliateMasteryRegular.otf) format('opentype');
}

@font-face {
    font-family:'VarelaRound';
    src: url(./font/VarelaRound.ttf) format('truetype');
}